[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"github3.py" = "*"
GitPython = "*"
sortedcontainers = "*"
fastapi = "*"
"uvicorn[standard]" = "*"
mangum = "*"
peewee = "*"
pymysql = "*"
mariadb = "1.0.10"

[dev-packages]
docker = "5.0.0"
pytest = "7.1.1"
httpx = "*"

[requires]
python_version = "3"
